<h1>New jobs this week</h1>

<ul>
<% @jobs.each do |job| %>
  <li>
    <%= link_to job do %>
      <%= job.title %> at <%= job.company %>
    <% end %>
    <div><%= number_to_currency job.salary, precision: 0 %> - <%= job.region %></div>
  </li>
<% end %>
</ul>

<%= link_to "Unsubscribe", unsubscribe_url(token: params[:subscriber].generate_token_for(:unsubscribe)) %>
