<%= form_with model: job do |form| %>
  <%= render "errors", form: form %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "Developer", required: true %>
  </div>

  <div>
    <%= form.label :company %>
    <%= form.text_field :company, placeholder: "GoRails", required: true %>
  </div>

  <div>
    <%= form.label :salary %>
    <%= form.number_field :salary, placeholder: "$150,000", required: true %>
  </div>

  <div>
    <%= form.label :region %>
    <%= form.text_field :region, placeholder: "US, Europe, Remote", required: true %>
  </div>

  <div>
    <%= form.label :apply_url %>
    <%= form.url_field :apply_url, placeholder: "https://example.com" %>
  </div>

  <div>
    <%= form.label :apply_email %>
    <%= form.email_field :apply_email, placeholder: "hiring@example.com" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
