<%= tag.div id: dom_id(job) do %>
  <%= turbo_stream_from job %>

  <h3>
    <%= link_to job do %>
      <%= job.title %> at <%= job.company %>
    <% end %>
  </h3>

  <p><%= number_to_currency job.salary %> - <%= job.region %></p>
<% end %>
